body {
  --twitter-color: #1d9bf0;
  --twitter-background: #16181c;
  --twitter-border: #2f3336;
  background-color: #000000;
}
.app {
  display: flex;
  height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
